/* Total body */
body{width:100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';}

/* Start Header section */

/*Start top section */

.top{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 4em;
    }

/* End top section */

/* Start Animation section */

@keyframes slidings{

            from{
                    color: #ffffff;
                }
            
            to{
                color: orange;
                }

}

/* End Animation section */

/* Start Header description */
.header-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    }

.header-description h1{width: 485px;
                        font-size: 4em;
                        font-weight: 700;
                        color:#ffffff;
                        ;    
                    }
.top:hover .header-description h1{animation: slidings 4s ease-out 0s infinite alternate;
                                animation-play-state:running;}

.Watch{
        text-decoration: none;
        color: #ffffff;}

.watch-button{width: 168px;;
            height: 32px;
            padding: 1em;
            font-size: 1em;
            font-weight: 500;
            background-color: #E02C6D;
            text-align: center;
            border-radius: 5px ;
            }

.watch-button:hover{transform:translate(0px,-1em) scale(1.5);}

/* End header description */

/* Satrt header image */

.header-banner{width: 50%;
                padding-left: 10%;}

.header-banner img{width:60%}

/* End header image */

/* End header section */

/* Start main part */

main{margin-bottom: 158px;}

/* Start player section */
.players{   display: grid;
            grid-template-columns: repeat(3,330px);
            grid-gap:15px;
            align-items: center;
            justify-content: center;
            
        }

.player{background-color: #ffffff;
        height: 474px;
        box-shadow: 5px 5px 5px 5px rgb(124, 122, 122);;
        padding:1em;
    }
.player img{width:100%;}
.player h2{font-weight: 700;} 
.player p{text-shadow: 1px 1.5px #918b8b;}

/* End player section*/

/* Start video section */

.bottom-section{margin-top: 4em;}
.Videos-heading{
    font-size: 3em;    
    font-weight: 700;
    color:gray;
    text-align: center;
    text-decoration: underline;}
.freekick-videos{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;}

.videos {width:30%}
.videos video{width: 80%;}

/* End video section */

/* End main section */


/* Start Footer section */

footer{margin-bottom: 63px;
        display: flex;
        align-items: center;
        justify-content: center;}
.end-part{display: flex;
        flex-direction: column;
        align-items: center;
        width: 483.87px;
        height: 213px;
        }
.banner img{width:483.87px;
        height:110px}
/* End footer section */


        /*For Mobile responsive */

/* Media query */
@media only screen and (max-width:688px) {

/*Start top section */
    .top{
        display: flex;
        flex-direction: column;
        background-color: #2D25A0;
        padding: 5px 0px;
        margin-bottom: 3em;
        }
    
/* Start Header description */
    .header-description .header-banner{width: 100%;}
    .header-description h1{
        width: 100%;
        font-size: 2em;
        font-weight: 700;
        color:#ffffff;
        ;    
    }

/* End header description */

/* Satrt header image */

    .header-banner{margin-top:20px;}
    .header-banner img{width:100%}

/* End header image */

/* End top section */

/* Start main part */

    main{margin-bottom: 3em;
        width: 100%;}

/* Start player section */

    .players{display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap:5px;
            align-items: center;
            justify-content: center;
            padding:1em;
        
    }

    .player{background-color: #ffffff;
            height: 474px;
            padding:1em;
           }
    .player img{width:100%;}
    .player h2{font-weight: 700;} 
    .player p{text-shadow: 1px 1.5px #918b8b;}

/* End player section*/

/* Start video section */

    .bottom-section{width:100%;
        margin-top: 4em;}
    .Videos-heading{
        font-size: 1.5em;    
        font-weight: 700;
        color:gray;
        text-align: center;
        text-decoration: underline;}
    .freekick-videos{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;}

    .videos {width:80%}
    .videos video{width: 80%;}

/* End video section */

/* End main section */

/* Start Footer section */

    footer{margin-bottom: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;}
    .end-part{display: flex;
        flex-direction: column;
        align-items: center;
        height: 213px;
        }
    .banner img{width:80%;
        height:110px;}

/* End footer section */
    
}